<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/styles.css">
	<title>Ratings</title>
	<form align="right" name="logout-btn" method="GET" action="/logout">
	  <label class="logoutLblPos">
	  <input name="submit2" type="submit" id="submit2" value="Log Out">
	  </label>
	</form>
</head>
<body>

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
			{{message}}

	{% endfor %}
	{% endif %}
	{% endwith %}

	
   <br>
	<div id="header">Ratings</div>
	<hr>
	{% block content %} put content here {% endblock %}

</body>
</html>